{% extends "base.jinja" %}

{% block content %}
<h2>{{ user.username  }} Your Pokemon</h2>

{% for pokemon in pokemon %}
    <p>{{ user.username }} caught: {{ pokemon.name }}!</p>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/{{ pokemon.id }}.png">
{% endfor %}

{% endblock %}